---
title: {{ title }}
author: {{ full_name }} ({{ class_name }})
date: {{ today }}
---

# Punkte

{% for category, (achieved, maximum ) in scoring.items() %}
**{{ category }}**: {{ achieved }}/{{ maximum }}
{% endfor %}

**Total**: {{ total }}/{{ maximum }}

# Note

**{{ grade }}**